.cortex-container {

    background-image: linear-gradient(90deg, rgba(75,6,193,1) 0%, rgba(206,2,189,1) 100%);
    height: 700px;
    display: flex;
    flex-wrap: wrap;
}

.heading1 {
    font-size: 100px;
    font-weight: 500px;
    color : white;
    font-family: sans-serif;
    margin-top: 100px;

}


.heading2 {
    font-size: 60px;
    font-weight: 00px;
    color : white;
    font-family: sans-serif;
    margin-top: -20px;
    
}

.heading3 {
    font-size: 22px;
    font-weight: 400px;
    color : white;
    font-family: sans-serif;
    margin-top: 25px;
    padding-right : 130px;
    padding-left: 140px;

    

}

.printer-image{


    top: 50px;
    position : absolute;
    height: 700px;
    width: 700px;
    right: 50px;
    

}


.brain-image {
    top : 40px;
    height: 700xp;
    width: 700px;
    position : absolute;
    right: 50px;

}

.button {

    height: 50px;
    width : 200px;
    border-radius: 25px;
    margin-top: 80px;
    margin-right: 200px;
    display : flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: sans-serif;
    color : white;
    font-size: 18px;
    background-image : linear-gradient(to bottom, #23ffdb, #1b5dbf);

    
}

.button:hover {
    box-shadow: 0px 10px 15px rgba(0,0,0,0.3);
    
}

